{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<div class="mdl-layout mdl-js-layout">

	<!-- Chat messages -->
	<main class="mdl-layout__content" id="cont">
		<div class="page-content">
			<ul class="demo-list-three mdl-list" id="list1" style="padding: 1rem;">

				<div class="col-md-offset-5 col-xs-offset-5" id="chatLoading" 
				style="margin-top: 10rem;">
					<div class="mdl-spinner mdl-js-spinner is-active"></div>
					<p class="lead">Waiting for the other user to join</p>
				</div>

			</ul>

		</div>
	</main>

	<!-- Message box and button -->
	<div class="row" style="margin: 7px;">
			<div class="col-sm-11 col-xs-9">
				<input type="text" id="chat_text_box" class="form-control" 
				placeholder="Type your message" disabled=true style="height: 59px;">
			</div>
			<div class="col-sm-1 col-xs-1">
				<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="chatSubmitButton" 
				type="button">
				<i class="material-icons">send</i>
				</button>
			</div>
	</div>

</div>

<!-- Toast message -->
<div id="toast" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>


<script type="text/javascript" src="{% static 'js/chat.js' %}"></script>


{% endblock %}


<li class="mdl-list__item mdl-list__item--three-line">
	<span class="mdl-list__item-primary-content">
		<i class="material-icons mdl-list__item-avatar">person</i>
		<span>Bryan Cranston</span>
		<span class="mdl-list__item-text-body">
		Bryan Cranston played the role of Walter in Breaking Bad. He is also known
		for playing Hal in Malcom in the Middle.
		</span>
	</span>
</li>