{% extends 'base.html' %}

{% block content %}

<div class="container" style="margin-top: 5rem; width: 75%;">
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-offset-4">
				<h3>Welcome to Geek Tavern</h3>
			</div>
		</div>
		<div class="row">
			<p class="lead">
			Geek tavern is a real-time question answer platform. We often use the internet to resolve a lot of doubts. So when we look it up online we usually find a solution written by someone in the past. Although this content is help full, it is not as effective as getting your doubts cleared through a conversation. So this platform is a tool for you to interact with user who are experts in the concerned field. This will help you understand and clear your technical doubts and perhaps learn something new.</p>
		</div>
		<div class="row">
			<div style="float: right;">
				<a href="/getstarted/">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-button-colored mdl-js-ripple-effect mdl-button--accent">Get started</button>
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}


Geek tavern is a real-time question answer platform. We often use the internet to resolve a lot of doubts. So when we look it up online we usually find a solution written by someone in the past. Although this content is help full, it is not as effective getting your doubts cleared through a conversation. So this platform is a tool for you to interact with user who are experts in the concerned field. This help you understand and clear your technical doubts and perhaps learn something new.