{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="col-sm-4 col-sm-offset-4">
	<div class="jumbotron" style="margin-top: 200px; padding: 20px;">
		<div class="form-group">
			<button id="signUpButton" onclick="login()" class="btn btn-danger form-control" style="float: right;">
				Login with google
			</button>
			<!-- <br>
			<br> -->
			<!-- <button id="logoutButton" class="btn btn-primary form-control">
				Login with facebook
			</button> -->
		</div>
	</div>
</div>
<script src="{% static 'js/auth.js' %}"></script>
{% endblock %}
