{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<!-- <input type="text" id="nName" name="nickname" placeholder="nickname"> -->
<div class="container" id="cont" style="width: 630px; background-color: #CBCBCB; margin-top: 20px; padding: 5px; height: 400px; overflow-y: scroll;">
<ul id="list1"></ul>
</div>
<br>
<div class="col-sm-6 col-sm-offset-3">
<input type="text" id="chat_text_box" class="form-control" placeholder="Enter text">
</div>
<script type="text/javascript" src="{% static 'js/chat.js' %}"></script>


{% endblock %}